@font-face {
	font-family: 'myfont';
	src: url('STXINGKA.TTF');
}


/*左侧菜单*/
#leftMenuListView .list-cell:filled:selected:focused,
#leftMenuListView .list-cell:filled:selected {
    -fx-background-color: #5A86D1;
}

#leftMenuListView .list-cell { /* <=== changed to even */
    -fx-background-color:  #205890;
    -fx-pref-height : 60;
    -fx-padding : 0;
}
#leftMenuListView .list-cell:even { /* <=== changed to even */
    -fx-background-color:  #205890;
}

#leftMenuListView .list-cell:filled:hover {
    -fx-background-color: #fad5d2;
    -fx-cursor:HAND;
}

#leftMenuListView .list-cell:selected {
    -fx-background-color: #5A86D1;
}

#leftMenuListView *.scroll-bar:horizontal  {
    visibility : false;
    -fx-opacity: 0;
}

#leftMenuListView *.scroll-bar:vertical  {
    visibility : false;
    -fx-opacity: 0;
}

#leftMenuListView{
	-fx-background-color: #205890;
	-fx-background-insets : 0;
	-fx-border-width : 0;
}
#leftMenuListView *.scroll-bar:horizontal *.increment-arrow, 
#leftMenuListView *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-opacity: 0;
}

#leftMenuListView *.scroll-bar:vertical *.increment-arrow, 
#leftMenuListView *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-opacity: 0;
}

#leftMenuListView > .virtual-flow > .scroll-bar:vertical,
#leftMenuListView > .virtual-flow > .scroll-bar:vertical > .track,
#leftMenuListView > .virtual-flow > .scroll-bar:vertical > .track-background, 
#leftMenuListView > .virtual-flow > .scroll-bar:horizontal,
#leftMenuListView > .virtual-flow > .scroll-bar:horizontal > .track,
#leftMenuListView > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

/*我的信息*/

/*审核人管理*/
#GB_UserListView .list-cell:filled:selected:focused,
#GB_UserListView .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

#GB_UserListView .list-cell { /* <=== changed to even */
    -fx-background-color: white;
    
}
#GB_UserListView .list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

#GB_UserListView .list-cell:filled:hover {
    -fx-background-color: #fad5d2;
}
